## import thư viện pandas

In [36]:
import pandas as pd

In [37]:
data = pd.read_excel('data.xlsx', sheet_name= 'Sheet1')
data

   1     chuot    500k
0  2  ban phim   1000k
1  3    laptop  40000k

In [38]:
sample = {
    'Class':['csa02','d4e93'],
    'student cout':[10,40]
}
df_sample = pd.DataFrame(sample)
df_sample

   Class  student cout
0  csa02            10
1  d4e93            40

## Kéo dữ liệu vào pandas

In [39]:
df = pd.read_csv('all_players_stats.csv')
df

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0
621,Wolverhampton Wanderers,37,Adama Traoré,Midfielder/Forward,11,12,1,0,0.0,0.0
622,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0.0,0.0

In [40]:
chuot = {'id':1,'name':'chuot','gia':'500k'}
banphim = {'id':2,'name':'ban phim','gia':'1000k'}
banphim

{'id': 2, 'name': 'ban phim', 'gia': '1000k'}

## khám phá dữ liệu pyhton (EDA)

In [41]:
df.head(10)

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4.0,0.0
5,Arsenal,34,Granit Xhaka,Defender/Midfielder,29,1,1,0,10.0,2.0
6,Arsenal,35,Gabriel Martinelli,Forward,26,10,6,1,2.0,1.0
7,Arsenal,5,Thomas Partey,Midfielder,24,2,2,0,6.0,1.0
8,Arsenal,10,Emile Smith Rowe,Midfielder,24,12,11,0,1.0,0.0
9,Arsenal,3,Kieran Tierney,Defender/Midfielder,24,1,1,0,0.0,0.0

In [42]:
df.tail()

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0
621,Wolverhampton Wanderers,37,Adama Traoré,Midfielder/Forward,11,12,1,0,0.0,0.0
622,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0.0,0.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           623 non-null    object
 1   JerseyNo       623 non-null    int64
 2   Player         623 non-null    object
 3   Position       623 non-null    object
 4   Apearances     623 non-null    int64
 5   Substitutions  623 non-null    int64
 6   Goals          623 non-null    int64
 7   Penalties      623 non-null    int64
 8   YellowCards    623 non-null    float64
 9   RedCards       623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 48.8+ KB

In [44]:
df['Team'].value_counts()

Team
Liverpool                   37
Aston Villa                 36
Everton                     36
Brighton and Hove Albion    35
Manchester United           35
Watford                     34
Manchester City             33
Chelsea                     33
Leicester City              31
Brentford                   31
Tottenham Hotspur           31
West Ham United             30
Leeds United                29
Newcastle United            29
Norwich City                29
Arsenal                     28
Wolverhampton Wanderers     28
Southampton                 27
Crystal Palace              26
Burnley                     25
Name: count, dtype: int64

In [45]:
df['Position'].value_counts()

Position
Midfielder                     159
Defender                       152
Defender/Midfielder             95
Midfielder/Forward              82
Forward                         81
Goalkeeper                      51
Defender/Midfielder/Forward      2
Defender/Forward                 1
Name: count, dtype: int64

In [46]:
df.columns

Index(['Team', 'JerseyNo', 'Player', 'Position', 'Apearances', 'Substitutions',
       'Goals', 'Penalties', 'YellowCards', 'RedCards'],
      dtype='object')

## kiểm tra chỉ số thống kê mô tả

In [47]:
df.describe()
#describe:dữ liệu định lượng

,JerseyNo,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
count,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000
mean,22.597111,16.861958,4.630819,2.245586,0.168539,2.457464,0.086677
std,18.719450,13.950425,4.950411,4.072776,0.787057,2.694708,0.303568
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,18.000000,16.000000,3.000000,1.000000,0.000000,2.000000,0.000000
75%,30.000000,27.500000,7.000000,3.000000,0.000000,4.000000,0.000000
max,97.000000,54.000000,25.000000,31.000000,9.000000,12.000000,2.000000

## kiểm tra missing value

In [48]:
df.isnull().sum()

Team             0
JerseyNo         0
Player           0
Position         0
Apearances       0
Substitutions    0
Goals            0
Penalties        0
YellowCards      0
RedCards         0
dtype: int64

In [49]:

df.sort_values(by=['Goals','Penalties'],ascending = True)

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
12,Arsenal,18,Takehiro Tomiyasu,Defender/Midfielder,21,1,0,0,3.0,0.0
14,Arsenal,23,Albert Sambi Lokonga,Midfielder,16,8,0,0,5.0,0.0
18,Arsenal,25,Mohamed El Neny,Midfielder,11,6,0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
511,Tottenham Hotspur,7,SON Heung-min,Midfielder/Forward,39,6,24,0,3.0,0.0
407,Manchester United,7,Cristiano Ronaldo,Midfielder/Forward,35,3,24,3,9.0,0.0
367,Manchester City,26,Riyad Mahrez,Midfielder/Forward,31,16,24,7,1.0,0.0
514,Tottenham Hotspur,10,Harry Kane,Forward,47,3,27,4,5.0,0.0
341,Liverpool,11,Mohamed Salah,Midfielder/Forward,44,6,31,6,1.0,0.0

In [50]:
df.sort_values(by=['Goals','Penalties'],ascending = False)

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
341,Liverpool,11,Mohamed Salah,Midfielder/Forward,44,6,31,6,1.0,0.0
514,Tottenham Hotspur,10,Harry Kane,Forward,47,3,27,4,5.0,0.0
367,Manchester City,26,Riyad Mahrez,Midfielder/Forward,31,16,24,7,1.0,0.0
407,Manchester United,7,Cristiano Ronaldo,Midfielder/Forward,35,3,24,3,9.0,0.0
511,Tottenham Hotspur,7,SON Heung-min,Midfielder/Forward,39,6,24,0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
611,Wolverhampton Wanderers,1,José Sá,Goalkeeper,37,0,0,0,3.0,0.0
613,Wolverhampton Wanderers,5,Marçal,Defender,18,1,0,0,3.0,0.0
614,Wolverhampton Wanderers,14,Yerson Mosquera,Defender,1,0,0,0,0.0,0.0
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0

In [51]:
print(df.columns)

Index(['Team', 'JerseyNo', 'Player', 'Position', 'Apearances', 'Substitutions',
       'Goals', 'Penalties', 'YellowCards', 'RedCards'],
      dtype='object')

## tìm cầu thủ nhiều thẻ vàng nhất

In [52]:
thevang = df['YellowCards'].max()
thevang

np.float64(12.0)

In [53]:
df['YellowCards']==thevang
df['MaxYellowCards?']=df['YellowCards']== thevang

In [61]:
df[df['YellowCards']==df['YellowCards'].max()] [['Player','YellowCards']]

              Player  YellowCards
149  James Tarkowski         12.0
178  Antonio Rüdiger         12.0
197  Conor Gallagher         12.0

In [63]:
df.groupby('Team')['Apearances'].max()

Team
Arsenal                     40
Aston Villa                 40
Brentford                   39
Brighton and Hove Albion    38
Burnley                     39
Chelsea                     54
Crystal Palace              42
Everton                     37
Leeds United                42
Leicester City              53
Liverpool                   53
Manchester City             51
Manchester United           46
Newcastle United            32
Norwich City                38
Southampton                 41
Tottenham Hotspur           47
Watford                     37
West Ham United             48
Wolverhampton Wanderers     41
Name: Apearances, dtype: int64

In [69]:
df.groupby('Team').agg(
    {'Player': 'max', 'Apearances': 'max' }
)

                                        Player  Apearances
Team
Arsenal                          Thomas Partey          40
Aston Villa                             Wesley          40
Brentford                          Yoane Wissa          39
Brighton and Hove Albion         Yves Bissouma          38
Burnley                          Wout Weghorst          39
Chelsea                          Xavier Simons          54
Crystal Palace                     Will Hughes          42
Everton                             Yerry Mina          37
Leeds United                     Tyler Roberts          42
Leicester City                 Youri Tielemans          53
Liverpool                      Virgil Van Dijk          53
Manchester City                 İlkay Gündogan          51
Manchester United                 Zidane Iqbal          46
Newcastle United                Sean Longstaff          32
Norwich City                    Tony Springett          38
Southampton                        Yann Valery          41
Tottenham Hotspur              Tanguy Ndombèlé          47
Watford                   William Troost-Ekong          37
West Ham United               Łukasz Fabiański          48
Wolverhampton Wanderers        Yerson Mosquera          41

## tìm cầu thủ ghi nhiều bàn nhất với vị trí defend

In [64]:
df['Position'] == 'Defender'

0      False
1       True
2      False
3       True
4      False
       ...
618    False
619    False
620     True
621    False
622    False
Name: Position, Length: 623, dtype: bool

In [66]:
df_defen = df[df['Position'] == 'Defender']
df_defen

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards,MaxYellowCards?
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0,False
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0,False
11,Arsenal,17,Cédric Soares,Defender,21,5,1,0,4.0,0.0,False
13,Arsenal,20,Nuno Tavares,Defender,17,11,1,0,2.0,0.0,False
15,Arsenal,16,Rob Holding,Defender,14,7,1,0,3.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...
612,Wolverhampton Wanderers,23,Max Kilman,Defender,34,0,1,0,3.0,0.0,False
613,Wolverhampton Wanderers,5,Marçal,Defender,18,1,0,0,3.0,0.0,False
614,Wolverhampton Wanderers,14,Yerson Mosquera,Defender,1,0,0,0,0.0,0.0,False
615,Wolverhampton Wanderers,22,Nélson Semedo,Defender,27,1,1,0,1.0,0.0,False
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0,False

In [68]:
max = df_defen['Goals'].max()
df_defen[df_defen['Goals'] == max]

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards,MaxYellowCards?
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0,False
178,Chelsea,2,Antonio Rüdiger,Defender,54,0,5,0,12.0,0.0,True

In [ ]:
df_defen2 = df['Position'].str.contains('Defender')
df_defen2